<div class="hero">
  <div class="hero__core">
    <div class="hero__content">
      <h1 class="hero__title">Alec Stoffel</h1>
      <div class="hero__subtitle">
        alec.stoffel@gmail.com<br />
        32bitcart
      </div>
    </div>
    <span class="hero__tile-text hero__tile-text--vg">Video<br />Graphy</span>
    <span class="hero__tile-text hero__tile-text--gd">Graphic<br />Design</span>
  </div>
  <div class="hero__tile hero__tile--vg"></div>
  <div class="hero__tile hero__tile--gd"></div>
  <div class="hero__tile hero__tile--md">
    <span class="hero__tile-text hero__tile-text--md">Motion<br />Design</span>
  </div>
  <div class="hero__tile hero__tile--pg">
    <span class="hero__tile-text hero__tile-text--pg">Photo<br />Graphy</span>
  </div>
</div>
